.sidebar_nLogin {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 20%;
}

.sidebar_container {
  background-color: #1d2d50;
  color: #fcdab7;
  width: 320px;
  height: 93vh;
  position: fixed;
  right: 0;
}

.sidebar_nick {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}

.sidebar_plan {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.plan_title {
  font-size: 1.2rem;
  margin-left: 10px;
}

.plan_add {
  margin-right: 10px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.plan_container {
}

.plan_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.content_container {
  display: flex;
  flex: 1 1 50%;
  text-align: center;
}

.content_span {
  width: 30%;
}

.content_input {
  width: 70%;
}

.count_container {
  display: flex;
  flex: 1 1 50%;
  text-align: center;
}

.count_span {
  width: 50%;
}

.count_input {
  width: 35%;
}

.count_btn {
  width: 15%;
}

.plan_changeMsg {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.15rem;
}

.plan_changeBtn {
  margin-top: 10px;
  width: 100%;
  font-size: 1.4rem;
  color: rgb(2, 255, 2);
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .sidebar_container {
    display: none;
  }
}
