@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f7f8fa;
  font-family: "Roboto", sans-serif;
}
