.detail_container {
  width: 70%;
  margin: 0px 5%;
  background-color: #e1e2e1;
}

.detail_title {
  font-size: 32px;
  font-weight: bold;
}

.detail_writerTime {
  margin-top: 5px;
  font-size: 16px;
  width: 100%;
  border-bottom: 1px #b1bfca solid;
  padding-bottom: 8px;
}

.detail_writer {
  border-right: 1px #b1bfca solid;
  margin-left: 5px;
  padding-right: 10px;
}

.detail_time {
  margin-left: 15px;
}

.detail_views {
  margin-left: 15px;
}

.detail_content {
  margin-top: 15px;
  font-size: 20px;
  border-bottom: 1px #b1bfca solid;
  padding-bottom: 8px;
}

.dButton_container {
  text-align: right;
}

.dButton_container button {
  font-size: 16px;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 8px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 10px;
  font-weight: bold;
  background-color: #b1bfca;
}

.detail_comment {
  display: flex;
  align-items: center;
  border-bottom: 1px #b1bfca solid;
  padding-bottom: 10px;
}

.detail_comWriter {
  flex: 1 1 10%;
  margin-left: 5px;
  margin-right: 9px;
}

.detail_comTextarea {
  flex: 1 1 80%;
}

.detail_comBtn {
  flex: 1 1 10%;
  margin-left: 12px;
  background-color: white;
  color: black;
  cursor: pointer;
  border: none;
  border: 1px #b1bfca solid;
  padding: 5px 0px;
}

@media (max-width: 1100px) {
  .detail_container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .detail_title {
    font-size: 20px;
  }

  .detail_writerTime {
    font-size: 12px;
  }

  .detail_content {
    font-size: 16px;
  }

  .dButton_container button {
    font-size: 12px;
  }

  .detail_comTextarea {
    flex: 1 1 75%;
  }

  .detail_comBtn {
    margin-left: 12px;
    flex: 1 1 15%;
  }
}
