.item_container {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 1px solid white;
  background-color: #e3f2fd;
}

.item_container div {
  padding: 8px;
}

.item_container div + div {
  border-left: 1px solid white;
}

.item_numId {
  flex: 1 1 7%;
}

.item_title {
  flex: 1 1 57%;
}

.item_writer {
  flex: 1 1 18%;
}

.item_time {
  flex: 1 1 18%;
}
