.list_container {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}

.list_header {
  display: flex;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: #b1bfca;
}

.list_header div {
  padding: 8px;
}

.list_header div + div {
  border-left: 1px solid black;
}

.header_num {
  flex: 1 1 7%;
}

.header_title {
  flex: 1 1 57%;
}

.header_writer {
  flex: 1 1 18%;
}

.header_time {
  flex: 1 1 18%;
}
