* {
  margin: 0px;
  padding: 0px;
}

.nav_container {
  background-color: rgb(97, 97, 251);
  width: 100%;
  height: 10%;
  color: white;
  display: flex;
}

.nav_container span {
  display: block;
}

.nav_container ul {
  display: block;
}
